
@tailwind base;
@tailwind components;
@tailwind utilities;


.hero{
    background: url(public/Img.png)  center;
    max-width: 1440px;
    
   
}

.trainAria{
    background: url(public/bg.png) center;
    max-width: 1440px;
    

}

.allocate{
    background: url(public/bg2.png);
    max-width: 1440px;
    
}